/*
===============
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
===============
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: rgb(6, 25, 109);
  --clr-primary-2: rgb(11, 38, 156);
  --clr-primary-3: rgb(62, 94, 235);
  --clr-primary-4: rgb(66, 96, 228);
  /* primary/main color */
  --clr-primary-5: rgb(105, 130, 237);
  --clr-primary100: rgb(7, 215, 254);
  /* lighter shades of primary color */
  --clr-primary-6: rgb(138, 156, 236);
  --clr-primary-7: rgb(157, 171, 235);
  --clr-primary-8: rgb(172, 182, 228);
  --clr-primary-9: rgb(213, 217, 235);
  --clr-primary-10: rgb(222, 225, 236);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* sec color */
  --sec-clr-1: rgb(129, 109, 233);
  --sec-clr-2: rgb(163, 147, 240);
  /* third color */
  --third-clr-1: rgb(209, 39, 219);
  --third-clr-2: rgb(167, 105, 172);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
===============
 Styles for all the project
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--sec-clr-2);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* THE LINE - underline */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  /* background: var(--clr-primary-5); */
  background: linear-gradient(
    to left,
    rgb(106, 217, 236),
    rgb(105, 130, 237),
    rgb(151, 138, 216),
    rgb(222, 74, 230)
  );
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.bg-grey {
  background: var(--clr-grey-10);
}

/*
===============
Navbar
===============
*/
.nav-logo {
  width: 150px;
  height: 50px;
  margin-left: 1rem;
}

/* hiding links in small screens */
.nav-links {
  display: none;
}

/* the navbar */
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;

  align-items: center;
  transition: var(--transition);
}

/* the center of the navbar */
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

/* without the links */
.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

@media screen and (min-width: 768px) {
  .nav {
    background-color: var(--clr-primary-10);
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    /* background: grey; */
    column-gap: 2rem;
    justify-self: end;
  }

  .nav-links li {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    transition: var(--transition);
    letter-spacing: var(--spacing);
  }

  .nav-links a {
    color: var(--clr-grey-3);
  }

  .nav-links a:hover {
    color: var(--clr-primary-5);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

/* fixed-navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-grey-10);
  z-index: 2;
  box-shadow: var(--light-shadow);
}

/*
=========================================
Sidebar
=========================================
*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 100;
  display: grid;
  place-items: center;
  transition: var(--transition);
  /* for js - to open and close sidebar: */
  transform: translateX(-100%);
}

/* the class that js add: */
.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--sec-clr-1);
}

.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--third-clr-1);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  background: transparent;
  border: transparent;
  transition: var(--transition);
  color: rgb(168, 17, 17);
}

.close-btn:hover {
  color: rgb(247, 102, 102);
  cursor: pointer;
}
/*
====================================
Hero
====================================
*/
/* The underline added to the style for all the project
"THE LINE" */

/* here i want the line in dif style */
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

/* small screen */
.hero-img {
  display: none;
}

.hero {
  background: var(--clr-primary-10);
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.hero-info h4 {
  color: var(--clr-grey-5);
}
.hero-icons {
  justify-items: start;
}

.hero-btn {
  margin-top: 1.25rem;
}

/* big screen */
@media screen and (min-width: 992px) {
  /* pic container */
  .hero-img {
    display: block;
    position: relative;
  }
  .hero-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* the pic */

  .hero-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-8);
    top: -1.5rem;
    right: 2rem;
    border-radius: var(--radius);
  }
}

.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
}

/* ==========<!-- הפרדת התוכן על ידי קו כזה ======== --> */
/* .content-divider {
  height: 0.25rem;
  background: linear-gradient(
    to left,
    rgb(106, 217, 236),
    rgb(105, 130, 237),
    rgb(151, 138, 216),
    rgb(222, 74, 230)
  );
} */

/*
=====================================
About
=====================================
*/
/* section title added to style to all project */

/* ***some of the img size is cause its have the hero-photo class */

.about-title {
  text-align: left;
  margin-bottom: 2rem;
}

.about-title .underline {
  margin-left: 0;
}

.about-center {
  display: grid;
  gap: 3rem;
}

.about-img {
  justify-self: center;
}

/* big screen  */
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }

  .about-img {
    position: relative;
  }

  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 89%;
    border: 0.25rem solid var(--clr-primary-8);
    top: 1.5rem;
    right: -2rem;
    border-radius: var(--radius);
  }

  .about-info {
    align-self: center;
  }
}

/*
===============
Services
===============
*/
/* bg-grey  added to style to all the project */
/* small screen layout setup */
.service {
  background-color: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
  text-align: center;
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.service .underline {
  width: 3rem;
  height: 0.12rem;
  transition: var(--transition);
}

.service p {
  transition: var(--transition);
}

.service:hover {
  background-color: var(--clr-primary-10);
  color: var(--third-clr-1);
}

.service:hover .underline {
  background-color: var(--third-clr-1);
}

.service:hover p {
  color: var(--third-clr-2);
}

@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*
===================
Projects
====================
*/
.projects-text {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
}

/* the article within the link */
.project {
  position: relative;
  /* background: var(--sec-clr-2); */
  background: linear-gradient(
    rgb(62, 148, 163),
    rgb(89, 108, 196),
    rgb(122, 110, 184),
    rgb(101, 19, 105)
  );
  margin-bottom: 2rem;
  border-radius: var(--radius);
}

/* project title and clinet name we see only when hover */
.project-info {
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  opacity: 0;
}

.project-info p {
  text-transform: capitalize;
  color: var(--clr-white);
}

.project:hover .project-info {
  opacity: 1;
}

.project-img {
  transition: var(--transition);
  border-radius: var(--radius);
  height: 15rem;
  object-fit: cover;
}

/* when we hover on project what gonna happen to the img: */
.project:hover .project-img {
  opacity: 0.4;
}

.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  border-radius: var(--radius);
  transition: var(--transition);
  opacity: 0;
}

.project:hover::after {
  opacity: 1;
  transform: scale(0.9);
}

/* for the bog screen */
@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* grid design */

@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: 200px 200px;
    gap: 1rem;
    grid-template-areas:
      "a b b "
      "a c d";
  }

  .project-1 {
    grid-area: a;
  }

  .project-2 {
    grid-area: b;
  }

  .project-3 {
    grid-area: c;
  }

  .project-4 {
    grid-area: d;
  }

  /* need that to fix1 for the shape that i create by grid areas */
  .project-img {
    height: 100%;
  }
  /* need that to fix2 for the shape that i create by grid areas */
  .project {
    height: 100%;
  }
}

/*
=========================
Connect
=========================

*/

.connect {
  min-height: 40vh;
  position: relative;
  padding: 10rem;
  margin: 5rem 0;
  display: grid;
  place-items: center;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.connect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: var(--clr-grey-8);
  z-index: -1;
}
.video-banner .section-title {
  margin-bottom: 2rem;
}

.video-text {
  max-width: 30rem;
}
.video-banner {
  background: var(--clr-primary-10);
  padding: 3rem 5rem 12rem 5rem;
  text-align: center;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    70% 75%,
    75% 100%,
    58% 75%,
    0% 75%
  );
  min-width: 22rem;
}

/*
===============
Skills
===============
*/
/*
===============
Timeline
===============
*/

/*
===============
Blog
===============
*/

/*
===============
Footer
===============
*/
/*
===============
Single Page
===============
*/

/*
===============
Products Page
===============
*/
